body {
    background-color: #f1f1f1;
    margin: auto;
    max-width: 1024px;
}

#header {
    background-color: white;
    margin: 20px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin: 20px 20px 10px 20px;
}

#phone img {
    height: 60px;
    vertical-align: middle;
}

#phone {
    margin: 30px 20px 10px 20px;
    display: flex;
    font-size: 18px;
}

.topnav {
    display: flex;
    background-color: #333;
    padding: 14px 0px 7.5px 0px;
    justify-content: space-between;
    margin: 10px 20px 10px 20px;
}

.topnav div a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topnavcontent1 div:hover {
    background-color: #ddd;
    color: black;
}

#topnavcontent1 {
    display: flex;
}

#topnavcontent2 {
    display: flex;
}

.topnav div img {
    padding: 0px 0px 0px 10px;
}

#topnavcontent1 div img {
    vertical-align: middle;
}

#content {
    margin: 10px 20px 10px 20px;
}

#slideshow img {
    width: 100%;
}

#feat {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

#feat1 {
    background-color: white;
    width: 25%;
    margin: 10px 10px 10px 0;

}

#feat2 {
    background-color: white;
    width: 25%;
    margin: 10px 10px 10px;
}

#feat3 {
    background-color: white;
    width: 25%;
    margin: 10px 10px 10px;
}

#feat4 {
    background-color: white;
    width: 25%;
    margin: 10px 0 10px 10px;
}


#content2 {
    display: flex;
}

#textcontent {
    background-color: white;
    width: 70%;
    height: 400px;
    margin: 10px 20px 10px 0;
    padding: 0 25px 0 25px;
}

#sidebar {
    background-color: white;
    width: 30%;
    height: 400px;
    margin: 10px 0 10px 20px;
}

#textcontent h1 {
    text-align: center;
}

#sidebar h2 {
    text-align: center;
}

#footer {
    background-color: white;
    margin: 10px 20px 0 20px;
    text-align: center;
    height: 100px;
}