#container {
    max-width: 1440px;
    margin: auto;
    background-color: #f6f1f1;
}

#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

#topnav a {
    color: black;
    text-decoration: none;
    margin: 14px 50px;
    font-size: 30px;
    font-weight: bold;
}

#logo {
    padding: 30px 0px 0px 80px;
}

#navcontent {
    padding-right: 50px;
}

#content1 {
    display: flex;
    justify-content: space-between;

}

#info {
    padding: 100px 50px 0 50px;
    width: 30%;
}

#info h1 {
    font-size: 50px;
}

#info h3 {
    font-size: 25px;
    font-weight: 400;
}

#image {
    width: 70%;
}

#mid_logo {
    display: flex;
    justify-content: space-between;
    padding: 25px 100px 25px 100px;
}

#content2 {
    background-color: #19a7ce;
    padding-bottom: 300px;
}

#content2 h1 {
    font-size: 40px;
    color: #f6f1f1;
    padding: 40px 0 10px 80px;
}

#content3 h1 {
    font-size: 40px;
    padding: 40px 0 10px 80px;
}

.edu_left {
    display: flex;
    margin: 30px 0 30px 200px;
}

.edu_logo {
    margin-right: 30px;
    margin-left: 30px;
}

#edu_info1 h5 {
    margin: 10px 0 10px 30px;
    font-size: 20px;
}

#edu_info1 h1 {
    margin: 10px 0 10px 30px;
    padding: 10px 0 10px 0px;
}

#edu_info1 h3 {
    margin: 10px 0 10px 30px;
    padding: 10px 0 10px 0px;
}

.edu_right {
    display: flex;
    margin: 30px 0 30px 440px;
}

#edu_info2 h5 {
    margin: 10px 0 10px 30px;
    font-size: 20px;
}

#edu_info2 h1 {
    margin: 10px 30px 10px 30px;
    padding: 10px 0 10px 0px;
}

#edu_info2 h3 {
    margin: 10px 0 10px 30px;
    padding: 10px 0 10px 0px;
}

#edu_info3 h5 {
    margin: 10px 0 10px 30px;
    font-size: 20px;
}

#edu_info3 h1 {
    margin: 10px 0 10px 30px;
    padding: 10px 0 10px 0px;
}

#edu_info3 h3 {
    margin: 10px 0 10px 30px;
    padding: 10px 0 10px 0px;
}

#edu_info4 h5 {
    margin: 10px 0 10px 30px;
    font-size: 20px;
}

#edu_info4 h1 {
    margin: 10px 30px 10px 30px;
    padding: 10px 0 10px 0px;
}

#edu_info4 h3 {
    margin: 10px 0 10px 30px;
    padding: 10px 0 10px 0px;
}